.Nav {
    display: flex;
    background-color: black;
    color: white;
    min-height: 50px;
}

.Logo {
    font-size: 25px;
    color: chartreuse;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    list-style: none;
}